#info-col {
    margin-right: 15px;
}

#about-info {
    background-color: #1C71D8
}

#title {
    /**/
}

#bg-info {
    background-color: #369CDE;
}

#contact-buttons {
    padding-bottom: 10px;
}

#next-item {
    padding-top: 30px;
}