#body {
  padding: 20px;
}

#banner {
  background-image: url("../img/blue-polygon-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150px;
  text-align: center;
  padding-bottom: 10px;
}

#intro-header {
    padding-top: 50px;
    padding-bottom: 20px;
}

#intro-txt {
    padding-top: 30px;
}

#spacing {
    padding: 20px;
}

#left-col {
    padding-right: 20px;
}

#right-col {
    padding-left: 20px;
}

#about-workstation {
  padding-top: 75px;
}

#mid-header {
    padding-top: 10px;
    padding-bottom: 50px;
}

#footer {
  padding: 15px;
}